body {
  background: #eee;
  font-family: sans-serif;
}

* {
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 5px 5px 5px 5px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 15px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 5px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left:auto ;
  margin-right: auto;
}