.odd-number {
  background-color: rgb(251, 83, 128, 0.5);
  font-family: verdana, "DejaVu Sans",sans-serif;
}

.odd-number.cooler {
  font-size: 24px;
}

#number-two{
  color: blue;
  font-size: 36px;
}

#number-four{
  background-color: rgba(0, 184, 0, 0.5);
  font-weight: bold;
  font-size: 24px;
}